@tailwind base;
@tailwind components;
@tailwind utilities;

section:not(:first-child),
footer {
  @apply mt-24 px-4 md:px-8 lg:px-12;
}
@layer utilities {
  .box-shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/* Mobile Menu Animation */
.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-left 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-right 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
}
